<ul style="display: flex">
<a href="/sanphamthuocbts">Thuốc</a> |
<a href="/loaithuocats">Loại thuốc</a> |
<a href="/hangsanxuatts">Hãng SX</a> |
<a href="/nhacungcapthuocts">Nhà CC</a> |
</ul>
<ul>
  <% @nhacungcapthuocts.each do |nhacungcapthuoct| %>
    <li>
      <h3>Tên NCC: </h3><%= nhacungcapthuoct.nameN %>
    </li>
    <li>
      <h3>Địa Chỉ: </h3><%= nhacungcapthuoct.add %>
    </li>
    <li>
      <h3>Thông Tin: </h3><%= nhacungcapthuoct.info %>
    </li>
    <hr>
  <% end %>
</ul>